.wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.title-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.container {
    width: 100%;
    height: 100%;
}

.svg-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100%;
    z-index: 1;
}

.spinner-wrapper {
    position: absolute;
    z-index: 3;
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100%;

    .progress {
        position: absolute;
        top: 50%;
        margin-top: 37px;
        background-color: transparent;
    }

    .opening-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
    
        h2 {
            position: absolute;
            color: white;
            font-size: 64px;
            width: 600px;
            left: -300px;
            top: -90px;
            text-align: center;
            font-family: 'Josefin Slab', serif;
            // font-family: 'Nunito', sans-serif;
        }
    }
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

::ng-deep .link {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
::ng-deep .node {
    cursor: move;
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}
  
::ng-deep .fixed {
    fill: #f00;
}

h1 {
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
    font-size: 16px;
}

.fileupd-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    z-index: 4;

    .file-select-button {
        position: absolute;
        left: -86.115px;
        top: 60px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        transition-property: all;
        -webkit-transition-duration:0.3s;
        -moz-transition-duration:0.3s;
        transition-duration:0.3s;
        -webkit-transition-timing-function:ease-in-out;
        -moz-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out;

        // &:hover {
        //     background-color: rgb(63, 181, 175);
        // }
    }
}