.wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: rgb(235, 235, 235);
}

.github {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.share {
    position: absolute;
    top: 6px;
    right: 60px;
    z-index: 10;
}

.title-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.container {
    width: 100%;
    height: 100%;
}

.svg-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100%;
    z-index: 1;
}

.spinner-wrapper {
    position: absolute;
    z-index: 3;
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100%;

    .progress {
        position: absolute;
        top: 50%;
        margin-top: 37px;
        background-color: transparent;
    }

    .opening-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
    
        h2 {
            position: absolute;
            color: white;
            font-size: 64px;
            width: 600px;
            left: -300px;
            top: -90px;
            text-align: center;
            font-family: 'Josefin Slab', serif;
            // font-family: 'Nunito', sans-serif;
        }
    }
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

::ng-deep .link {
    stroke: #999;
    stroke-width: 1.5px;
    stroke-opacity: 0.8;
  }
  
::ng-deep .node {
    cursor: move;
    fill: #ccc;
    fill-opacity: 0.8;
}

::ng-deep .node_search {
    cursor: move;
    fill: #4DB2A1;
    fill-opacity: 0.8;
}

::ng-deep .node_doi {
    cursor: move;
    fill: #3F7FB9;
    fill-opacity: 0.8;
}

::ng-deep .node_none {
    cursor: move;
    fill: #1B366D;
    fill-opacity: 0.8;
}

.search {
    top: 100px;
    background-color: #4DB2A1;
    z-index: 10;
}
.doi {
    top: 130px;
    background-color: #3F7FB9;
    z-index: 10;
}
.none {
    top: 160px;
    background-color: #1B366D;
    z-index: 10;
}
.legend {
    position: absolute;
    left: 10px;
    width: 130px;
    height: 25px;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 25px;
}

::ng-deep text.text_inn {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing    : 3px;
    stroke: white;
    stroke-width: 1.3px;
    stroke-opacity: 0.8;
    stroke-linejoin: round;
}

::ng-deep text.text_out {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing    : 3px;
    fill: #333;
    stroke-opacity: 0.7;
    stroke: none;

}

::ng-deep .fixed {
    fill-opacity: 1.0;
    stroke: #1B366D;
    stroke-width: 5px;
    // .text_inn {

    // }
    // .text_out {

    // }
}

h1 {
    color: #1B366D;
    // padding: 0.5em 0;/*上下の余白*/
    // border-top: solid 3px #364e96;/*上線*/
    // border-bottom: solid 3px #364e96;/*下線*/
    font-size: 16px;
}

.fileupd-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    z-index: 4;

    .file-select-button {
        position: absolute;
        left: -86.115px;
        top: 60px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        transition-property: all;
        -webkit-transition-duration:0.3s;
        -moz-transition-duration:0.3s;
        transition-duration:0.3s;
        -webkit-transition-timing-function:ease-in-out;
        -moz-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out;

        // &:hover {
        //     background-color: rgb(63, 181, 175);
        // }
    }
}

.papertitle {
    position: absolute;
    top: 100px;
    font-size: 18px;
    right: 20px;
    width: 240px;
    color: black;
    z-index: 100;
    height: 100px;
    background-color: rgba(150, 150, 150, 0.219);
    padding: 10px;
    overflow-y: auto;
    // background-color: rgba(114, 114, 114, 0.39);
}

.paperabstract {
    padding: 10px;
    position: absolute;
    top: 220px;
    font-size: 14px;
    right: 20px;
    width: 240px;
    color: black;
    z-index: 100;
    height: 400px;
    overflow-y: auto;
    background-color: rgba(150, 150, 150, 0.219);
}